.btn-primary  {
    color: #fff;
    background-color: #0495c9;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #ff7300;
    
}